*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    font-family: 'DM Sans', sans-serif;
}

body{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.desktop{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    align-items: center;
    padding: 40px;
    gap: 250px;
    width: 1265px;
}

.header-h1{
    width: 200px;
}

nav{
    display: flex;
    gap: 60px;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.header-right a{
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.header-right img{
    width: 20px;
    height: 20px;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 70px;
    background-image: url(/images/blog-images/Rectangle\ 23.png);
    width: 100%;
    height: 100vh;
}

.comment-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    gap: 30px;
    width: fit-content;
}

.comment{
    display: flex;
    flex-direction: column;
    background: none;
    width: 400px;
}

.comment h1{
    background: none;
}

.comment p{
    background: none;
}

.below-comment{
    display: flex;
    background: none;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.profile{
    display: flex;
    background: none;
    gap: 10px;
    align-items: center;
}

.profile img{
    width: 70px;
    height: auto;
    background: none;
}

.name-date{
    display: flex;
    flex-direction: column;
    background: none;
}

.name-date h2,p{
    background: none;
}

.like-favourite{
    display: flex;
    gap: 20px;
    background: none;
}

.like-favourite img{
    width: 50px;
    height: 50px;
    background: none;
}
