*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
    font-family: 'DM Sans', sans-serif;
}

body{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.desktop{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

header{
    display: flex;
    align-items: center;
    padding: 40px;
    gap: 250px;
    width: 1265px;
}

.header-h1{
    width: 200px;
}

nav{
    display: flex;
    gap: 60px;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.header-right a{
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.header-right img{
    width: 20px;
    height: 20px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

main h1{
    font-size: 35px;
}

.address{
    width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: whitesmoke;
    padding: 20px;
}

.address h2{
    font-size: 25px;
    background-color: whitesmoke;
}

.address h3{
    font-size: 18px;
    background-color: whitesmoke;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.button1{
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 400px;
    padding: 15px;
    background-color: white;
    color: #1E9658;
    font-size: 18px;
    border: 1px solid #1E9658;
}

.button2{
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 400px;
    padding: 15px;
    background-color: #1E9658;
    color: white;
    font-size: 18px;
    border: none;
}

.button1, .button2:hover{
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: center;
    gap: 130px;
}

.foot{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.foot h1{
    font-size: 20px;
}

.menu-links{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu-links a{
    color: black;
    text-decoration: none;
}

.about-links{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.about-links a{
    color: black;
    text-decoration: none;
}

.contact-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-link img{
    width: 20px;
    height: 20px;
}

.contact-link a{
    color: black;
    text-decoration: none;
}

.follow-us{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.follow-us h1{
    font-size: 20px;
}

.follow-links{
    display: flex;
    gap: 25px;
}

.follow-links img{
    width: 20px;
    height: 20px;
}
